
    <section class="card gig-card">
        <header class='row gig-card__header'>
            <% if(!gig.user.profileImage.filename) { %>
                <img class="gig-card__image" src="/images/default-img.png" alt="profile image">
            <% } else { %>
                <img class='gig-card__image' src="/images/<%=  gig.user.profileImage.filename%>" alt="profile image">
            <% } %>
            <div class="col gig-card__header-details">
                <p>
                    <a href="/profile/<%= gig.user._id %>"><%= gig.user.firstName %> <%= gig.user.lastName %></a></p>
                <p>
                    <%= gig.title %>
                </p>
                <p>
                    <%= gig.location %>
                </p>
            </div>
        </header>
        <section class="row gig-card__main">
        <p><%= gig.description %></p>
        </section>
    </section>