<div class="post-section">
    <section class="row card create__post">
        <% if( !currentUser.profileImage.filename ) { %>
            <img src="images/default-img.png" alt="profile thumbnail" class="create__post__thumb">
        <% } else { %>
        <img src="/images/<%= currentUser.profileImage.filename%>" alt="profile thumbnail" class="create__post__thumb">
        <% } %>
            <a href='#' data-toggle="modal" data-target="#addPostModal" class='create__post__caption anchor'><p class='options'>Say Something!</p></a>
    </section>
        <% posts.forEach( post => { %>
            <section class="row card post__container">
                <header class="row profile__header post__header">
                    <div class="poster__thumb">
                        <% if( !post.user.profileImage.filename ) { %>
                            <img src="images/default-img.png" alt="profile thumbnail" class="image__thumb">
                        <% } else { %>
                            <img src="images/<%= post.user.profileImage.filename %>" alt="" class="image__thumb">
                        <% } %>
                    </div>
                    <div class="poster__name">
                        <a class='anchor' href="/profile/<%= post.user._id %>">
                            <p class='options'><%= post.user.firstName %> <%= post.user.lastName %></p>
                        </a>
                        <span class='timestamp' > 
                            

                            <% if (time.since(post.createdAt).secs() < 60) { %>
                                <%= time.since(post.createdAt).secs() %> sec
                            <% } else if (time.since(post.createdAt).secs() >= 60  && time.since(post.createdAt).mins() < 60 ) { %>
                                <%= time.since(post.createdAt).mins() %> min
                            <% } else if(time.since(post.createdAt).mins() >= 60 && time.since(post.createdAt).hours() < 24  ) { %>
                                <%= time.since(post.createdAt).hours() %> h
                            <% } else if(time.since(post.createdAt).hours() >= 24 && time.since(post.createdAt).days() < 7  ) { %>
                                <%= time.since(post.createdAt).days() %> d
                            <% } else { %>
                                <%= time.since(post.createdAt).weeks() %> w
                            <% } %>
                        </span>
                    </div>
                    
                    <% if(currentUser._id.toString() === post.user._id.toString()) { %>
                        <div class="content-options">
                            <input type="checkbox" class="content-options__checkbox" id='option-toggle<%= post._id %>'>
                            <label for="option-toggle<%= post._id %>">
                                <i class="fa fa-cog options user-options" aria-hidden="true" ></i>
                            </label>
                            <nav class="content-options__nav">
                                <ul class="content-options__list">
                                    <a class='content-options__link' href="#" data-target="#delete<%= post._id %>PostModal" data-toggle="modal">
                                    <li class="content-options__item">
                                        <i class="fas fa-trash-alt"></i><span>Delete Post</span>
                                    </li>
                                    </a>
                                    <a class='content-options__link' href="#" data-target="#edit<%= post._id %>PostModal" data-toggle="modal">
                                    <li class="content-options__item">
                                            <i class="fas fa-user-edit"></i> <span>Edit Post</span> 
                                    </li>
                                </a>
                                </ul>
                            </nav>

                    </div>

                        <!-- Edit Post Modal -->
                    <div class="modal fade" id="edit<%= post._id %>PostModal">
                        <div class="modal-dialog modal-dialog-centered modal-dialog modal-dialog-centered-centered">
                            <div class="modal-content">
                                <header class="modal-header">
                                    <h5 class="modal-title" id="edit__gig__title">Edit Post </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                </header>
                                <div class="modal-body">


                                <!-- Edit Post Form-->
                                    <div class="edit__gig__container">
                                        <form action="post/<%= post._id %>?_method=PUT" method="POST">
                                            <textarea name="content" placeholder="Say whats on your mind..." cols="45" rows="7"><%= post.text %></textarea>
                                            <input type="hidden" name="user" value='<%= currentUser._id %>'>
                                            <footer class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Confirm</button>
                                            </footer>
                                        </form>
                                        <!-- End Edit Form -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- End Edit Post Modal -->


                            <!-- Delete Post Modal -->
                    <div class="modal fade" id="delete<%= post._id %>PostModal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <header class="modal-header">
                                    <h5 class="modal-title" id="edit__gig__title">Edit Gig </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                </header>
                                <div class="modal-body">
                                <!-- Delete Post Form-->
                                    <div class="edit__post__container">
                                        <form action="post/<%= post._id %>?_method=DELETE" method="post">
                                            <h4>Are you sure you want to delete this post?</h4>
                                            <footer class="modal-footer">
                                                <button class='btn btn-primary'type=submit>Delete</button>
                                            </footer>
                                        </form>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Delete Post Modal -->

                <% } %>
                </header>
                <section class="post__content">
                    <p><%= post.text %></p>
                </section>
               


                <% post.comments.forEach(comment => { %>
                    <section class="row comment mt-2"> 
                        <header class="row profile__header">
                            <div class=" comment__thumb">
                                <% if( !comment.user.profileImage.filename ) { %>
                                    <img src="images/default-img.png" alt="profile thumbnail" class="comment__thumb">
                                <% } else { %>
                                    <img src="images/<%= comment.user.profileImage.filename %>" alt="" class="comment__thumb">
                                <% } %>
                            </div>
                            <div class="poster__name">
                                <a class='anchor' href="/profile/<%= comment.user._id %>">
                                    <p class='options'><%= comment.user.firstName %> <%= comment.user.lastName %></p>
                                </a>
                                <span class='timestamp' > 

                                    <% if (time.since(comment.createdAt).secs() < 60) { %>
                                        <%= time.since(comment.createdAt).secs() %> sec
                                    <% } else if (time.since(comment.createdAt).secs() >= 60  && time.since(comment.createdAt).mins() < 60 ) { %>
                                        <%= time.since(comment.createdAt).mins() %> min
                                    <% } else if(time.since(comment.createdAt).mins() >= 60 && time.since(comment.createdAt).hours() < 24  ) { %>
                                        <%= time.since(comment.createdAt).hours() %> h
                                    <% } else if(time.since(comment.createdAt).hours() >= 24 && time.since(comment.createdAt).days() < 7  ) { %>
                                        <%= time.since(comment.createdAt).days() %> d
                                    <% } else { %>
                                        <%= time.since(comment.createdAt).weeks() %> w
                                    <% } %>
                                </span>
                            </div>
                            

                            <% if(currentUser._id.toString() === post.user._id.toString()) { %>
                                <div class="content-options">
                                    <input type="checkbox" class="content-options__checkbox" id='option-toggle<%= comment._id %>'>
                                    <label for="option-toggle<%= comment._id %>">
                                        <i class="fa fa-cog options user-options" aria-hidden="true" ></i>
                                    </label>
                                    <nav class="content-options__nav">
                                        <ul class="content-options__list">
                                            <a class='content-options__link' href="#" data-target="#delete<%= comment._id %>CommentModal" data-toggle="modal">
                                            <li class="content-options__item">
                                                <i class="fas fa-trash-alt"></i><span>Delete Comment</span>
                                            </li>
                                            </a>
                                            <% if(currentUser._id.toString() === comment.user._id.toString()) { %>
                                                <a class='content-options__link' href="#" data-target="#edit<%= comment._id %>CommentModal" data-toggle="modal">
                                                    <li class="content-options__item">
                                                            <i class="fas fa-user-edit"></i> <span>Edit Comment</span> 
                                                    </li>
                                                </a>
                                            <% } %>
                                        </ul>
                                    </nav>
                                </div>
                       

                                
                                <% if(currentUser._id.toString() === comment.user._id.toString()) { %>

                                        <!-- Edit Comment Modal -->
                                    <div class="modal fade" id="edit<%= comment._id %>CommentModal">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog modal-dialog-centered-centered">
                                            <div class="modal-content">
                                                <header class="modal-header">
                                                    <h5 class="modal-title" id="edit__gig__title">Edit Comment </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </header>
                                                <div class="modal-body">
            
            
                                                <!-- Edit Comment Form-->
                                                    <div class="edit__gig__container">
                                                        <form action="post/comment/<%= comment._id %>?_method=PUT" method="POST">
                                                            <textarea name="content" placeholder="Say whats on your mind..." cols="45" rows="7"><%= comment.text %></textarea>
                                                            <footer class="modal-footer">
                                                                <button type="submit" class="btn btn-primary">Confirm</button>
                                                            </footer>
                                                        </form>
                                                        <!-- End Edit Comment Form -->
            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- End Edit Comment Modal -->
                                <% } %>
    
                                    <!-- Delete Comment Modal -->
                            <div class="modal fade" id="delete<%= comment._id %>CommentModal">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <header class="modal-header">
                                            <h5 class="modal-title" id="edit__gig__title">Edit Gig </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                        </header>
                                        <div class="modal-body">
                                        <!-- Delete Comment Form-->
                                            <div class="delete__comment__container">
                                                <form action="post/comment/<%= comment._id %>?_method=DELETE" method="post">
                                                    <h4>Are you sure you want to delete this comment?</h4>
                                                    <footer class="modal-footer">
                                                        <button class='btn btn-primary'type=submit>Delete</button>
                                                    </footer>
                                                </form>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Delete Comment Modal -->
    
                        <% } %>
                        </header>
                        <div class="comment__text">
                            <p><%= comment.text %></p>
                        </div>
                    </section> 
                    
                <% }) %>
                <div class="row comment-form">
                    <form action="post/comment/<%= post._id %>" method='POST'>
                        <textarea name="text" id="" cols="50" rows="1" placeholder="Write a comment..."></textarea>
                        <input type="submit" value="Add Comment">
                    </form>
                </div>
            </section>
        <% }) %>
    <!-- End Post Column -->
</div>