<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Document</title>
</head>

<body>
    

    <%- include('./partials/nav')%>

    <div class="row main__container">

        <div class="column-secondary">
            <%- include('./partials/userCard') %>
            
        </div>

        <%- include('./partials/postColumn') %>  
        
        <div class="column-tertiary">
            <%- include('./partials/gig-nav') %>
        </div>
       
       
        <!-- Page Footer -->
        <footer class="page__footer">
            <h6>&copy; Bryan Kretz</h6>
        </footer>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <!-- MODALS -->
        


        <%- include('./partials/modals/addPostModal') %>
        <%- include('./partials/modals/addGigModal') %>
        <%- include('./partials/modals/editProfileModal') %>
        
        

        

        
        
        
        <!-- Edit Profile Picture Modal -->
        <div class="modal fade" id="profilePhotoModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <header class="modal-header">
                        <h5 class="modal-title" id="editTitle">Edit Profile Photo</h5>
                    </header>
                    <div class="modal-body">
                    <!-- Edit Profile Form-->
                        <div class="profile__photo__container">
                            <form action="home/upload-profile-image/?_method=PUT" method="POST" enctype="multipart/form-data">
                                <label class='col' for="profileImage">Choose image</label>
                                <input class='col' type="file" name='profileImage'>
                                <footer class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Add Photo</button>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         
