<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Document</title>
</head>

<body>
    

    <%- include('./partials/nav')%>

    <div class="row main__container">

        <div class="column-secondary">
            <%- include('./partials/userCard') %>
            <section class="row card gig__container gig__container-left">
                <header class='gig__header'>Recent Gigs</header>
            <% gigs.forEach( gig => { %>
                    <ul class='gig__list' >
                        <a href="/gig/<%= gig._id %>" class='gig__anchor'>
                            <li class='gig__list-item' >
                                <div class="gig__thumb-container">
                                    <% if( !gig.user_doc[0].profileImage.filename  ) { %>
                                        <img src="/images/default-img.png" alt="profile thumbnail" class="gig__thumb">
                                    <% } else { %>
                                        <img src="/images/<%= gig.user_doc[0].profileImage.filename %>" alt="" class="gig__thumb">
                                    <% } %>
                                </div>
                                <div class="gig__text">
                                    <p class="gig__title"><%= gig.title %></p> 
                                    <span class='gig__subtext'>
                                        
                                        <% if (time.since(gig.createdAt).secs() < 60) { %>
                                            <%= time.since(gig.createdAt).secs() %> sec
                                        <% } else if (time.since(gig.createdAt).secs() >= 60  && time.since(gig.createdAt).mins() < 60 ) { %>
                                            <%= time.since(gig.createdAt).mins() %> min
                                        <% } else if(time.since(gig.createdAt).mins() >= 60 && time.since(gig.createdAt).hours() < 24  ) { %>
                                            <%= time.since(gig.createdAt).hours() %> h
                                        <% } else if(time.since(gig.createdAt).hours() >= 24 && time.since(gig.createdAt).days() < 7  ) { %>
                                            <%= time.since(gig.createdAt).days() %> d
                                        <% } else { %>
                                            <%= time.since(gig.createdAt).weeks() %> w
                                        <% } %>
                                    </span>
                                </div>
                            </li>
                        </a>
                    </ul>
        
        
            <% }) %>
            <footer class='gig__footer' >
                <a class='gig__link-all' href="#"> See More </a>
            </footer>
        </section>
            
        </div>
        <div class="column-primary">
            <section class="row card user-card-mobile">
                <% if(!currentUser.profileImage.filename) { %>
                    <img class="user-card__image" src="images/default-img.png" alt="profile image">
                <% } else { %>
                    <img class='user-card__image' src="/images/<%= currentUser.profileImage.filename%>" alt="profile image">
                <% } %>
                <a class="edit__modal__anchor anchor" href="#" data-toggle="modal" data-target="#profilePhotoModal"><p class ='options'>edit photo</p></a>
                <a class="edit__modal__anchor anchor" href="#" data-toggle="modal" data-target="#editModal"><p class ='options'>edit profile</p></a>
                <h5 class="card-title"><%= currentUser.firstName %> <%= currentUser.lastName %></h5>
            </section>

        <%- include('./partials/postColumn') %>  
        </div>
        
        <div class="column-tertiary">
            <%- include('./partials/gig-nav') %>
        </div>
       
       
        <!-- Page Footer -->
        <footer class="page__footer">
            <h6>&copy; Bryan Kretz</h6>
        </footer>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <!-- MODALS -->
        


        <%- include('./partials/modals/addPostModal') %>
        <%- include('./partials/modals/addGigModal') %>
        <%- include('./partials/modals/editProfileModal') %>
        
        

        

        
        
        
        <!-- Edit Profile Picture Modal -->
        <div class="modal fade" id="profilePhotoModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <header class="modal-header">
                        <h5 class="modal-title" id="editTitle">Edit Profile Photo</h5>
                    </header>
                    <div class="modal-body">
                    <!-- Edit Profile Form-->
                        <div class="profile__photo__container">
                            <form action="home/upload-profile-image/?_method=PUT" method="POST" enctype="multipart/form-data">
                                <label class='col' for="profileImage">Choose image</label>
                                <input class='col' type="file" name='profileImage'>
                                <footer class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Add Photo</button>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         
