<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Document</title>
</head>
<body>

    <%- include('./partials/nav') %>
    <div class="row main__container">
        <div class="column-secondary">
            <%- include('./partials/userCard') %>
        </div>
        <div class="column-primary">
            <div class="row profile-card__container">
                <% users.forEach( user => { %>
                    <section class="card profile-card">
                        <img src="/images/<%=user.profileImage.filename%>" alt="" class="profile-card__image">
                        <p class='profile-card__text'><%= user.firstName %> <%= user.lastName %></p>
                        <p class='profile-card__text'>
                            <%= user.location %></p>
                        <p class='profile-card__text occupation'>
                            Specialty:
                            <% if(!user.title) { %>
                                unknown
                            <% } else { %>
                                 <%= user.title %>
                            <% } %>
                        </p>
                    </section>
                <% }) %>
            </div>
        </div>
        <div class="column-tertiary">
            <%- include('./partials/gig-nav') %>
        </div>
    </div>
    <footer class="page__footer">
        <h6>&copy; Bryan Kretz</h6>
    </footer>
</body>
</html>