<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Profile- <%=profile.firstName%><%=profile.lastName%></title>
</head>
<body>
    
<%- include('./partials/nav')%>
<div class="row main__container">
    <div class="column-secondary"> 
        
        <section class="row card user-card"style='height:23rem;'>
        <% if(!currentUser.profileImage.filename) { %>
            <img class="user-card__image" style='margin:auto;' src="images/default-img.png" alt="profile image">
        <% } else { %>
            <img class='user-card__image' style='margin:auto;' src="/images/<%= profile.profileImage.filename%>" alt="profile image">
        <% } %>
        <h5 class="card-title" style='margin:auto;'><%= profile.firstName %> <%= profile.lastName %></h5>
    </section>
       <section class="row card gig__container gig__container-left">
        <header class='gig__header'>Recent Gigs</header>
    <% gigs.forEach( gig => { %>
            <ul class='gig__list' >
                <a href="/gig/<%= gig._id %>" class='gig__anchor'>
                    <li class='gig__list-item' >
                        <div class="gig__thumb-container">
                            <% if( !gig.user_doc[0].profileImage.filename  ) { %>
                                <img src="/images/default-img.png" alt="profile thumbnail" class="gig__thumb">
                            <% } else { %>
                                <img src="/images/<%= gig.user_doc[0].profileImage.filename %>" alt="" class="gig__thumb">
                            <% } %>
                        </div>
                        <div class="gig__text">
                            <p class="gig__title"><%= gig.title %></p> 
                            <span class='gig__subtext'>
                                
                                <% if (time.since(gig.createdAt).secs() < 60) { %>
                                    <%= time.since(gig.createdAt).secs() %> sec
                                <% } else if (time.since(gig.createdAt).secs() >= 60  && time.since(gig.createdAt).mins() < 60 ) { %>
                                    <%= time.since(gig.createdAt).mins() %> min
                                <% } else if(time.since(gig.createdAt).mins() >= 60 && time.since(gig.createdAt).hours() < 24  ) { %>
                                    <%= time.since(gig.createdAt).hours() %> h
                                <% } else if(time.since(gig.createdAt).hours() >= 24 && time.since(gig.createdAt).days() < 7  ) { %>
                                    <%= time.since(gig.createdAt).days() %> d
                                <% } else { %>
                                    <%= time.since(gig.createdAt).weeks() %> w
                                <% } %>
                            </span>
                        </div>
                    </li>
                </a>
            </ul>



    <% }) %>
    <footer class='gig__footer' >
        <a class='gig__link-all' href="#"> See More </a>
    </footer>
</section>
    
    </div>


    <!-- Post Column -->
    <div class="column-primary">

        <section class="card user-card-mobile">
            <section class="user-card-mobile__image-container">
                <% if(!profile.profileImage.filename) { %>
                    <img class="user-card__image" src="images/default-img.png" alt="profile image">
                <% } else { %>
                    <img class='user-card__image' src="/images/<%= profile.profileImage.filename%>" alt="profile image">
                <% } %>
            </section>
            <section class=" user-card-mobile__nav">
                <div class="user-card-mobile__nav-left">
                    <ul>
                        <li><a href="/profile/<%= currentUser._id %>"><p class="options">My Profile</p></a></li>
                        <li>
                            <a class="edit__modal__anchor anchor" href="#" data-toggle="modal" data-target="#profilePhotoModal"><p class ='options'>Edit Photo</p></a>
                        </li>
                        <li>
                            <a class="edit__modal__anchor anchor" href="#" data-toggle="modal" data-target="#editModal"><p class ='options'>Edit Profile</p></a>
                        </li>
                    </ul>
                </div>
                <div class="user-card-mobile__nav-right">
                    <ul>
                        <li><a href="/gigs"><p class="options">Gigs</p></a></li>
                        <li>
                            <a href='/browse-profiles'><p class ='options'>People</p></a>
                        </li>
                        <li>
                            <a class="edit__modal__anchor anchor" href="#" data-toggle="modal" data-target="#addGigModal"><p class ='options'>Add Gig</p></a>
                        </li>
                    </ul>
                </div>
            </section>
            
        
    </section>

    <div class="post-section">
        
        <% if(profilePosts.length === 0 ) { %>
            <h3 class='post-error' >This profile has no posts!</h3>
        <% } else { %>
            <% profilePosts.forEach( post => { %>
                <section class="row card post__container">
                    <header class="row profile__header post__header">
                        <div class="poster__thumb">
                            <% if( !profile.profileImage.filename ) { %>
                                <img src="/images/default-img.png" alt="profile thumbnail" class="image__thumb">
                            <% } else { %>
                                <img src="/images/<%= profile.profileImage.filename %>" alt="" class="image__thumb">
                            <% } %>
                        </div>
                        <div class="poster__name">
                            <a class='anchor' href="/profile/<%= post.user._id %>">
                                <p class='options'><%= profile.firstName %> <%= profile.lastName %></p>
                            </a>
                            <span class='timestamp' > 
                                
    
                                <% if (time.since(post.createdAt).secs() < 60) { %>
                                    <%= time.since(post.createdAt).secs() %> sec
                                <% } else if (time.since(post.createdAt).secs() >= 60  && time.since(post.createdAt).mins() < 60 ) { %>
                                    <%= time.since(post.createdAt).mins() %> min
                                <% } else if(time.since(post.createdAt).mins() >= 60 && time.since(post.createdAt).hours() < 24  ) { %>
                                    <%= time.since(post.createdAt).hours() %> h
                                <% } else if(time.since(post.createdAt).hours() >= 24 && time.since(post.createdAt).days() < 7  ) { %>
                                    <%= time.since(post.createdAt).days() %> d
                                <% } else { %>
                                    <%= time.since(post.createdAt).weeks() %> w
                                <% } %>
                            </span>
                        </div>
                        <div class="content-options">
                            <input type="checkbox" class="content-options__checkbox" id='option-toggle<%= post._id %>'>
                            <label for="option-toggle<%= post._id %>">
                                <i class="fa fa-cog options user-options" aria-hidden="true" ></i>
                            </label>
                            <nav class="content-options__nav">
                                <ul class="content-options__list">
                                    <a class='content-options__link' href="#" data-target="#delete<%= post._id %>PostModal" data-toggle="modal">
                                    <li class="content-options__item">
                                        <i class="fas fa-trash-alt"></i><span>Delete Post</span>
                                    </li>
                                    </a>
                                    <a class='content-options__link' href="#" data-target="#edit<%= post._id %>PostModal" data-toggle="modal">
                                    <li class="content-options__item">
                                            <i class="fas fa-user-edit"></i> <span>Edit Post</span> 
                                    </li>
                                </a>
                                </ul>
                            </nav>

                    </div>
                    </header>
                    <section class="post__content">
                        <p><%= post.text %></p>
                    </section>
                    <% post.comments.forEach(comment => { %>
                        <section class="row comment mt-2"> 
                            <header class="row profile__header">
                                <div class="comment__thumb">
                                    <% if( !comment.user[0].profileImage ) { %>
                                        <img src="/images/default-img.png" alt="profile thumbnail" class="comment__thumb">
                                    <% } else { %>
                                        <img src="/images/<%= comment.user[0].profileImage.filename %>" alt="" class="comment__thumb">
                                    <% } %>
                                </div>
                                <div class="poster__name">
                                    <a class='anchor' href="/profile/<%= comment.user[0]._id %>">
                                        <p class='options'><%= comment.user[0].firstName %> <%= comment.user[0].lastName %></p>
                                    </a>
                                    <span class='timestamp' > 
    
                                        <% if (time.since(comment.createdAt).secs() < 60) { %>
                                            <%= time.since(comment.createdAt).secs() %> sec
                                        <% } else if (time.since(comment.createdAt).secs() >= 60  && time.since(comment.createdAt).mins() < 60 ) { %>
                                            <%= time.since(comment.createdAt).mins() %> min
                                        <% } else if(time.since(comment.createdAt).mins() >= 60 && time.since(comment.createdAt).hours() < 24  ) { %>
                                            <%= time.since(comment.createdAt).hours() %> h
                                        <% } else if(time.since(comment.createdAt).hours() >= 24 && time.since(comment.createdAt).days() < 7  ) { %>
                                            <%= time.since(comment.createdAt).days() %> d
                                        <% } else { %>
                                            <%= time.since(comment.createdAt).weeks() %> w
                                        <% } %>
                                    </span>
                                </div>
                                <div class="content-options">
                                    <input type="checkbox" class="content-options__checkbox" id='option-toggle<%= post._id %>'>
                                    <label for="option-toggle<%= post._id %>">
                                        <i class="fa fa-cog options user-options" aria-hidden="true" ></i>
                                    </label>
                                    <nav class="content-options__nav">
                                        <ul class="content-options__list">
                                            <a class='content-options__link' href="#" data-target="#delete<%= post._id %>PostModal" data-toggle="modal">
                                            <li class="content-options__item">
                                                <i class="fas fa-trash-alt"></i><span>Delete Post</span>
                                            </li>
                                            </a>
                                            <a class='content-options__link' href="#" data-target="#edit<%= post._id %>PostModal" data-toggle="modal">
                                            <li class="content-options__item">
                                                    <i class="fas fa-user-edit"></i> <span>Edit Post</span> 
                                            </li>
                                        </a>
                                        </ul>
                                    </nav>
        
                            </div>
                            </header>
                            <div class="comment__text">
                                <p><%= comment.text %></p>
                            </div>
                        </section> 
                        <% if(profile._id.toString() === comment.user._id) { %>
                            <!-- <footer class='options__footer'>
                                <a class='anchor options' href="#" data-target="#delete<%= comment._id %>CommentModal" data-toggle="modal"><i class="fas fa-trash-alt"></i></a>
                                <a class='anchor options' href="#" data-target="#edit<%= comment._id %>CommentModal" data-toggle="modal"><i class="fas fa-user-edit"></i></a>
                                
                            </footer> -->
    
    
                                <!-- Edit Comment Modal -->
                            <div class="modal fade" id="edit<%= comment._id %>CommentModal">
                                <div class="modal-dialog modal-dialog-centered modal-dialog modal-dialog-centered-centered">
                                    <div class="modal-content">
                                        <header class="modal-header">
                                            <h5 class="modal-title" id="edit__gig__title">Edit Comment </h5>
                                        </header>
                                        <div class="modal-body">
    
    
                                        <!-- Edit Comment Form-->
                                            <div class="edit__gig__container">
                                                <form action="post/comment/<%= comment._id %>?_method=PUT" method="POST">
                                                    <textarea name="content" placeholder="Say whats on your mind..." cols="45" rows="7"><%= comment.text %></textarea>
                                                    <footer class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Confirm</button>
                                                    </footer>
                                                </form>
                                                <!-- End Edit Comment Form -->
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <!-- End Edit Comment Modal -->
    
    
                                    <!-- Delete Comment Modal -->
                            <div class="modal fade" id="delete<%= comment._id %>CommentModal">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <header class="modal-header">
                                            <h5 class="modal-title" id="edit__gig__title">Edit Gig </h5>
                                        </header>
                                        <div class="modal-body">
                                        <!-- Delete Comment Form-->
                                            <div class="delete__comment__container">
                                                <form action="post/comment/<%= comment._id %>?_method=DELETE" method="post">
                                                    <h4>Are you sure you want to delete this comment?</h4>
                                                    <footer class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button class='btn btn-primary'type=submit>Delete</button>
                                                    </footer>
                                                </form>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Delete Comment Modal -->
    
                        <% } %>
                    <% }) %>
                    <div class="row comment-form">
                        <form action="post/comment/<%= post._id %>" method='POST'>
                            <textarea name="text" id="" cols="50" rows="1" placeholder="Write a comment..."></textarea>
                            <input type="submit" value="Add Comment">
                        </form>
                    </div>
                </section>
            <% }) %>
        <% } %>
        
    </div>
</div>
        <!-- End Posts -->
        
    
    <!-- Gig Column -->
    <div class="column-tertiary">
        <%- include('./partials/gig-nav') %>
    </div>
    <footer class="page__footer">
        <h6>&copy; Bryan Kretz</h6>
    </footer>
    <!-- MODALS -->
        

        
       
        <%- include('./partials/modals/addGigModal') %>
        <%- include('./partials/modals/editProfileModal') %>
        <%- include('./partials/modals/edit-profile-picture') %>

</body>
</html>